<?xml version="1.0"?>
<launch>
    <param name="/global_offset_x" value="200000"/>
    <param name="/global_offset_y" value="500000"/>

    <param name="/projection" value="+proj=tmerc +lat_0=38 +lon_0=127 +k=1 +x_0=200000 +y_0=600000 +ellps=GRS80 +units=m +no_defs" />

    <node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 map odom 100"/>

    <node pkg="gnss_tf" type="gnss_tf_node" name="gnss_tf_node">
        <param name="gnss_frame" value="base_footprint"/>
        <param name="use_altitude" value="true"/>
    </node>

    <node pkg="advanced_navigation_driver" type="advanced_navigation_driver" name="fog_ins_node" output="screen">
        <rosparam>
        port: /dev/ttyUSB0
        baud_rate: 115200
        </rosparam>
    </node>

    <node pkg="ins_driver" type="ins_interface_node" name="ins_interface" output="screen" respawn="true">
        <rosparam>
        port: /dev/ttyUSB1
        baudrate: 115200
        use_serial: true
        </rosparam>
    </node>

    <node pkg="ntrip" type="ntrip" name="ntrip" output="screen" respawn="true">
        <rosparam>
        server: gnssdata.or.kr
        port: 2101
        mountpoint: SUWN-RTCM31
        username: gnss
        password: gnss
        </rosparam>
    </node>

    <node pkg="rndf_server" type="rndf_server_node" name="rndf_server_node" output="screen">
        <param name="rndf" type="str" value="$(find fog_launch)/rndf/pangyo.rndf" />
    </node>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find fog_launch)/rviz/default.rviz" output="screen"/>
</launch>
